
@charset "UTF-8";
@import '../../style/variables.scss';

// .v-modal-leave,
// .v-modal-leave-active {
//   animation: v-modal-out .2s ease forwards
// }

// .v-modal-enter,
// .v-modal-enter-active {
//   animation: v-modal-in .2s ease
// }



// @keyframes v-modal-in {
//   0% {
//     opacity: 0
//   }
// }

// @keyframes v-modal-out {
//   100% {
//     opacity: 0
//   }
// }

.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: #000
}


.tb-message-box {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  width: 420px;
  border-radius: 3px;
  font-size: 16px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.tb-message-box__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center
}

.tb-message-box__wrapper::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle
}

.tb-message-box__header {
  position: relative;
  padding: 20px 20px 0
}

.tb-message-box__headerbtn {
  position: absolute;
  top: 19px;
  right: 20px;
  background: 0 0;
  border: none;
  outline: 0;
  padding: 0;
  cursor: pointer
}

.tb-message-box__headerbtn .tb-message-box__close {
  color: #999
}

.tb-message-box__headerbtn:focus .tb-message-box__close,
.tb-message-box__headerbtn:hover .tb-message-box__close {
  color: #20a0ff
}

.tb-message-box__content {
  padding: 30px 20px;
  color: #48576a;
  font-size: 14px;
  position: relative
}

.tb-message-box__input {
  padding-top: 15px
}

.tb-message-box__input input.invalid,
.tb-message-box__input input.invalid:focus {
  border-color: $color-danger;
}

.tb-message-box__errormsg {
  color: $color-danger;
  font-size: 12px;
  min-height: 18px;
  margin-top: 2px
}

.tb-message-box__title {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  height: 18px;
  color: #333
}

.tb-message-box__message {
  margin: 0
}

.tb-message-box__message p {
  margin: 0;
  line-height: 1.4
}

.tb-message-box__btns {
  padding: 10px 20px 15px;
  text-align: right
}

.tb-message-box__btns button:nth-child(2) {
  margin-left: 10px
}

.tb-message-box__btns-reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse
}

.tb-message-box__status {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 36px !important
}

.tb-message-box__status.icon-success-fill {
  color: $color-success
}
.tb-message-box__status.icon-prompt-fill1 {
  color: $color-info
}
.tb-message-box__status.icon-prompt-fill {
    color: $color-primary
  }
.tb-message-box__status.icon-help1 {
  color: $color-warning
}

.tb-message-box__status.icon-reeor-fill {
  color: $color-danger
}

.msgbox-fade-leave,
.msgbox-fade-leave-active {
  animation: msgbox-fade-out .3s
}

.msgbox-fade-enter,
.msgbox-fade-enter-active {
  animation: msgbox-fade-in .3s
}

@keyframes msgbox-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes msgbox-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }

  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0
  }
}
