@charset "UTF-8";

.tb-input,
.tb-input__inner {
  width: 100%;
  display: inline-block
}

.tb-input__inner,
.tb-select .tb-tag,
.tb-select-dropdown,
.tb-select-dropdown__item,
.tb-tag,
.tb-textarea__inner {
  box-sizing: border-box
}

.tb-select-dropdown {
  position: absolute;
  z-index: 1001;
  border: 1px solid #d1dbe5;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  margin: 5px 0
}

.tb-select-dropdown .tb-scrollbar.is-empty .tb-select-dropdown__list {
  padding: 0
}

.tb-select-dropdown.is-multiple .tb-select-dropdown__item.selected {
  color: #20a0ff;
  background-color: #fff
}

.tb-select-dropdown.is-multiple .tb-select-dropdown__item.selected.hover {
  background-color: #e4e8f1
}

.tb-select-dropdown.is-multiple .tb-select-dropdown__item.selected::after {
  position: absolute;
  right: 10px;
  font-family: element-icons;
  content: "\E608";
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.tb-select-dropdown__empty {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  color: #999;
  font-size: 14px
}

.tb-select-dropdown__wrap {
  max-height: 274px
}

.tb-select-dropdown__list {
  list-style: none;
  padding: 6px 0;
  margin: 0;
  box-sizing: border-box
}

.tb-input {
  position: relative;
  font-size: 14px
}

.tb-input.is-disabled .tb-input__inner {
  background-color: #eef1f6;
  border-color: #d1dbe5;
  color: #bbb;
  cursor: not-allowed
}

.tb-input.is-disabled .tb-input__inner::-webkit-input-placeholder {
  color: #bfcbd9
}

.tb-input.is-disabled .tb-input__inner::-moz-placeholder {
  color: #bfcbd9
}

.tb-input.is-disabled .tb-input__inner:-ms-input-placeholder {
  color: #bfcbd9
}

.tb-input.is-disabled .tb-input__inner::placeholder {
  color: #bfcbd9
}

.tb-input.is-active .tb-input__inner {
  outline: 0;
  border-color: #20a0ff
}

.tb-input__inner {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #bfcbd9;
  color: #1f2d3d;
  font-size: inherit;
  height: 36px;
  line-height: 1;
  outline: 0;
  padding: 3px 10px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.tb-input__inner::-webkit-input-placeholder {
  color: #97a8be
}

.tb-input__inner::-moz-placeholder {
  color: #97a8be
}

.tb-input__inner:-ms-input-placeholder {
  color: #97a8be
}

.tb-input__inner::placeholder {
  color: #97a8be
}

.tb-input__inner:hover {
  border-color: #8391a5
}

.tb-input__inner:focus {
  outline: 0;
  border-color: #20a0ff
}

.tb-input__icon {
  position: absolute;
  width: 35px;
  height: 100%;
  right: 0;
  top: 0;
  text-align: center;
  color: #bfcbd9;
  transition: all .3s
}

.tb-input__icon:after {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle
}

.tb-input__icon+.tb-input__inner {
  padding-right: 35px
}

.tb-input__icon.is-clickable:hover {
  cursor: pointer;
  color: #8391a5
}

.tb-input__icon.is-clickable:hover+.tb-input__inner {
  border-color: #8391a5
}

.tb-input--large {
  font-size: 16px
}

.tb-input--large .tb-input__inner {
  height: 42px
}

.tb-input--small {
  font-size: 13px
}

.tb-input--small .tb-input__inner {
  height: 30px
}

.tb-input--mini {
  font-size: 12px
}

.tb-input--mini .tb-input__inner {
  height: 22px
}

.tb-input-group {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate
}

.tb-input-group>.tb-input__inner {
  vertical-align: middle;
  display: table-cell
}

.tb-input-group__append,
.tb-input-group__prepend {
  background-color: #fbfdff;
  color: #97a8be;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid #bfcbd9;
  border-radius: 4px;
  padding: 0 10px;
  width: 1px;
  white-space: nowrap
}

.tb-input-group--prepend .tb-input__inner,
.tb-input-group__append {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.tb-input-group--append .tb-input__inner,
.tb-input-group__prepend {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.tb-input-group__append .tb-button,
.tb-input-group__append .tb-select,
.tb-input-group__prepend .tb-button,
.tb-input-group__prepend .tb-select {
  display: block;
  margin: -10px
}

.tb-input-group__append button.tb-button,
.tb-input-group__append div.tb-select .tb-input__inner,
.tb-input-group__append div.tb-select:hover .tb-input__inner,
.tb-input-group__prepend button.tb-button,
.tb-input-group__prepend div.tb-select .tb-input__inner,
.tb-input-group__prepend div.tb-select:hover .tb-input__inner {
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  border-top: 0;
  border-bottom: 0
}

.tb-input-group__append .tb-button,
.tb-input-group__append .tb-input,
.tb-input-group__prepend .tb-button,
.tb-input-group__prepend .tb-input {
  font-size: inherit
}

.tb-input-group__prepend {
  border-right: 0
}

.tb-input-group__append {
  border-left: 0
}

.tb-textarea {
  display: inline-block;
  width: 100%;
  vertical-align: bottom
}

.tb-textarea.is-disabled .tb-textarea__inner {
  background-color: #eef1f6;
  border-color: #d1dbe5;
  color: #bbb;
  cursor: not-allowed
}

.tb-textarea.is-disabled .tb-textarea__inner::-webkit-input-placeholder {
  color: #bfcbd9
}

.tb-textarea.is-disabled .tb-textarea__inner::-moz-placeholder {
  color: #bfcbd9
}

.tb-textarea.is-disabled .tb-textarea__inner:-ms-input-placeholder {
  color: #bfcbd9
}

.tb-textarea.is-disabled .tb-textarea__inner::placeholder {
  color: #bfcbd9
}

.tb-textarea__inner {
  display: block;
  resize: vertical;
  padding: 5px 7px;
  line-height: 1.5;
  width: 100%;
  font-size: 14px;
  color: #1f2d3d;
  background-color: #fff;
  background-image: none;
  border: 1px solid #bfcbd9;
  border-radius: 4px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.tb-textarea__inner::-webkit-input-placeholder {
  color: #97a8be
}

.tb-textarea__inner::-moz-placeholder {
  color: #97a8be
}

.tb-textarea__inner:-ms-input-placeholder {
  color: #97a8be
}

.tb-textarea__inner::placeholder {
  color: #97a8be
}

.tb-textarea__inner:hover {
  border-color: #8391a5
}

.tb-textarea__inner:focus {
  outline: 0;
  border-color: #20a0ff
}

.tb-tag {
  background-color: #8391a5;
  display: inline-block;
  padding: 0 5px;
  height: 24px;
  line-height: 22px;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap
}

.tb-tag .tb-icon-close {
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  -ms-transform: scale(.75, .75);
  transform: scale(.75, .75);
  height: 18px;
  width: 18px;
  line-height: 18px;
  vertical-align: middle;
  top: -1px;
  right: -2px
}

.tb-tag .tb-icon-close:hover {
  background-color: #fff;
  color: #8391a5
}

.tb-tag--gray {
  background-color: #e4e8f1;
  border-color: #e4e8f1;
  color: #48576a
}

.tb-tag--gray .tb-tag__close:hover {
  background-color: #48576a;
  color: #fff
}

.tb-tag--gray.is-hit {
  border-color: #48576a
}

.tb-tag--primary {
  background-color: rgba(32, 160, 255, .1);
  border-color: rgba(32, 160, 255, .2);
  color: #20a0ff
}

.tb-tag--primary .tb-tag__close:hover {
  background-color: #20a0ff;
  color: #fff
}

.tb-tag--primary.is-hit {
  border-color: #20a0ff
}

.tb-tag--success {
  background-color: rgba(18, 206, 102, .1);
  border-color: rgba(18, 206, 102, .2);
  color: #13ce66
}

.tb-tag--success .tb-tag__close:hover {
  background-color: #13ce66;
  color: #fff
}

.tb-tag--success.is-hit {
  border-color: #13ce66
}

.tb-tag--warning {
  background-color: rgba(247, 186, 41, .1);
  border-color: rgba(247, 186, 41, .2);
  color: #f7ba2a
}

.tb-tag--warning .tb-tag__close:hover {
  background-color: #f7ba2a;
  color: #fff
}

.tb-tag--warning.is-hit {
  border-color: #f7ba2a
}

.tb-tag--danger {
  background-color: rgba(255, 73, 73, .1);
  border-color: rgba(255, 73, 73, .2);
  color: #ff4949
}

.tb-tag--danger .tb-tag__close:hover {
  background-color: #ff4949;
  color: #fff
}

.tb-tag--danger.is-hit {
  border-color: #ff4949
}

.tb-select-dropdown__item {
  font-size: 14px;
  padding: 8px 10px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #48576a;
  height: 36px;
  line-height: 1.5;
  cursor: pointer
}

.tb-select-dropdown__item.hover,
.tb-select-dropdown__item:hover {
  background-color: #e4e8f1
}

.tb-select-dropdown__item.selected {
  color: #fff;
  background-color: #20a0ff
}

.tb-select-dropdown__item.selected.hover {
  background-color: #1c8de0
}

.tb-select-dropdown__item span {
  line-height: 1.5 !important
}

.tb-select-dropdown__item.is-disabled {
  color: #bfcbd9;
  cursor: not-allowed
}

.tb-select-dropdown__item.is-disabled:hover {
  background-color: #fff
}

.tb-select-group {
  margin: 0;
  padding: 0
}

.tb-select-group .tb-select-dropdown__item {
  padding-left: 20px
}

.tb-select-group__wrap {
  list-style: none;
  margin: 0;
  padding: 0
}

.tb-select-group__title {
  padding-left: 10px;
  font-size: 12px;
  color: #999;
  height: 30px;
  line-height: 30px
}

.tb-scrollbar {
  overflow: hidden;
  position: relative
}

.tb-scrollbar:active .tb-scrollbar__bar,
.tb-scrollbar:focus .tb-scrollbar__bar,
.tb-scrollbar:hover .tb-scrollbar__bar {
  opacity: 1;
  transition: opacity 340ms ease-out
}

.tb-scrollbar__wrap {
  overflow: scroll
}

.tb-scrollbar__wrap--hidden-default::-webkit-scrollbar {
  width: 0;
  height: 0
}

.tb-scrollbar__thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(151, 168, 190, .3);
  transition: .3s background-color
}

.tb-scrollbar__thumb:hover {
  background-color: rgba(151, 168, 190, .5)
}

.tb-scrollbar__bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 120ms ease-out
}

.tb-scrollbar__bar.is-horizontal {
  height: 6px;
  left: 2px
}

.tb-scrollbar__bar.is-horizontal>div {
  height: 100%
}

.tb-scrollbar__bar.is-vertical {
  width: 6px;
  top: 2px
}

.tb-scrollbar__bar.is-vertical>div {
  width: 100%
}

.tb-select {
  display: inline-block;
  position: relative
}

.tb-select:hover .tb-input__inner {
  border-color: #8391a5
}

.tb-select .tb-input__inner {
  cursor: pointer;
  padding-right: 35px
}

.tb-select .tb-input__inner:focus {
  border-color: #20a0ff
}

.tb-select .tb-input .tb-input__icon {
  color: #bfcbd9;
  font-size: 12px;
  transition: transform .3s;
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotateZ(180deg);
  line-height: 16px;
  top: 50%;
  cursor: pointer
}

.tb-select .tb-input .tb-input__icon.is-show-close {
  transition: 0s;
  width: 16px;
  height: 16px;
  font-size: 14px;
  right: 8px;
  text-align: center;
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotateZ(180deg);
  border-radius: 100%;
  color: #bfcbd9
}

.tb-select .tb-input .tb-input__icon.is-show-close:hover {
  color: #97a8be
}

.tb-select .tb-input .tb-input__icon.is-reverse {
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.tb-select .tb-input.is-disabled .tb-input__inner {
  cursor: not-allowed
}

.tb-select .tb-input.is-disabled .tb-input__inner:hover {
  border-color: #d1dbe5
}

.tb-select>.tb-input {
  display: block
}

.tb-select .tb-tag__close {
  margin-top: -2px
}

.tb-select .tb-tag {
  height: 24px;
  line-height: 24px;
  margin: 3px 0 3px 6px
}

.tb-select__input {
  border: none;
  outline: 0;
  padding: 0;
  margin-left: 10px;
  color: #666;
  font-size: 14px;
  vertical-align: baseline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 28px;
  background-color: transparent
}

.tb-select__input.is-mini {
  height: 14px
}

.tb-select__close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  z-index: 1000;
  right: 25px;
  color: #bfcbd9;
  line-height: 18px;
  font-size: 12px
}

.tb-select__close:hover {
  color: #97a8be
}

.tb-select__tags {
  position: absolute;
  line-height: normal;
  white-space: normal;
  z-index: 1;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.tb-select__tag {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  background-color: #20a0ff
}

.tb-select__tag .tb-icon-close {
  font-size: 12px
}
