@import '../../style/variables.scss';

.tb-table {
  overflow-x: auto;

  table {
    width: 100%;
    overflow: hidden;
    // border: 1px solid $border-color-base;
    border-radius: 5px;
    // border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;

    .tb-table-cell {
      z-index: 0;
      position: relative;
      min-height: 31px;
      min-width: 28px;
      padding: 18px;
      border-top: 1px solid $border-color-base;
      font-size: 13px;
      font-family: Nunito Sans, sans-serif;
      font-weight: 400;
      color: $color-text-primary;
    }

    .tb-table-cell.is-header {
      border-top: 0;
      background-color: $color-bg-fa;
      font-size: 12px;
      font-family: Nunito Sans, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-text-default;
    }

    .is-selection {
      width: 30px;
      position: relative;
      z-index: 200;
    }

    .tb-checkbox {
      margin-top: 5px;
    }
  }

  .tb-table-cell:before {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 1px;
    height: 27px;
    background-color: $border-color-base;
    transform: translateY(-50%);
    content: "";
  }

  .tb-table-cell:first-child::before {
    content: none;
  }
}
