@import '../../style/variables.scss';

.tb-pagination {
  white-space: nowrap;
  padding: 2px 5px;
  color: $color-text-primary
}

.tb-pagination button,
.tb-pagination span {
  display: inline-block;
  font-size: 13px;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
  box-sizing: border-box
}

.tb-pagination .tb-select .tb-input {
  width: 110px
}

.tb-pagination .tb-select .tb-input input {
  padding-right: 25px;
  border-radius: 2px;
  height: 28px
}

.tb-pagination button {
  border: none;
  padding: 0 6px;
  background: 0 0
}

.tb-pagination button:focus {
  outline: 0
}

.tb-pagination button:hover {
  color: $color-primary 
}

.tb-pagination button.disabled {
  color: $btn-disable-color ;
  background-color: $color-white;
  cursor: not-allowed
}

.tb-pager li,
.tb-pager li.btn-quicknext:hover,
.tb-pager li.btn-quickprev:hover {
  cursor: pointer
}

.tb-pagination .btn-next,
.tb-pagination .btn-prev {
  background: center center no-repeat $color-white;
  background-size: 16px;
  border: 1px solid $border-color-base;
  cursor: pointer;
  margin: 0;
  color: $color-text-primary
}

.tb-pagination .btn-next .tb-icon,
.tb-pagination .btn-prev .tb-icon {
  display: block;
  font-size: 12px
}

.tb-pagination .btn-next .iconfont,
.tb-pagination .btn-prev .iconfont {
  font-size: 13px;
  // line-height: 28px;
  vertical-align: initial;
}

.tb-pagination .btn-prev {
  border-radius: 2px 0 0 2px;
  border-right: 0
}

.tb-pagination .btn-next {
  border-radius: 0 2px 2px 0;
  border-left: 0
}

.tb-pagination--small .btn-next,
.tb-pagination--small .btn-prev,
.tb-pagination--small .tb-pager li,
.tb-pagination--small .tb-pager li:last-child {
  border-color: transparent;
  font-size: 12px;
  line-height: 22px;
  height: 22px;
  min-width: 22px
}

.tb-pagination--small .arrow.disabled {
  visibility: hidden
}

.tb-pagination--small .tb-pager li {
  border-radius: 2px
}

.tb-pagination__sizes {
  margin: 0 10px 0 0
}

.tb-pagination__sizes .tb-input .tb-input__inner {
  font-size: 13px;
  border-color: $border-color-base
}

.tb-pagination__sizes .tb-input .tb-input__inner:hover {
  border-color: $color-primary 
}

.tb-pagination__jump {
  margin-left: 10px
}

.tb-pagination__total {
  margin: 0 10px
}

.tb-pagination__rightwrapper {
  float: right
}

.tb-pagination__editor {
  border: 1px solid $border-color-base;
  border-radius: 2px;
  line-height: 18px;
  padding: 4px 2px;
  width: 30px;
  text-align: center;
  margin: 0 6px;
  box-sizing: border-box;
  transition: border .3s;
  -moz-appearance: textfield
}

.tb-pager,
.tb-pager li {
  vertical-align: top;
  display: inline-block;
  margin: 0
}

.tb-pagination__editor::-webkit-inner-spin-button,
.tb-pagination__editor::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

.tb-pagination__editor:focus {
  outline: 0;
  border-color: $color-primary 
}

.tb-pager {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
  font-size: 0;
  padding: 0
}

.tb-pager li {
  padding: 0 4px;
  border: 1px solid $border-color-base;
  border-right: 0;
  background: $color-white;
  font-size: 13px;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  box-sizing: border-box;
  text-align: center
}

.tb-pager li:last-child {
  border-right: 1px solid $border-color-base
}

.tb-pager li.btn-quicknext,
.tb-pager li.btn-quickprev {
  line-height: 28px;
  color: $color-text-primary
}

.tb-pager li.active+li {
  border-left: 0;
  padding-left: 5px
}

.tb-pager li:hover {
  color: $color-primary 
}

.tb-pager li.active {
  border-color: $color-primary ;
  background-color: $color-primary ;
  color: $color-white;
  cursor: default
}
