@import '../../style/variables.scss';


$type:('success', 'primary', 'danger', 'warning', 'info', 'default');

@function typeFunction($t) {
  @if $t==success {
    @return $color-success
  }

  @else if $t==primary {
    @return $color-primary
  }

  @else if $t==info {
    @return $color-info
  }

  @else if $t==danger {
    @return $color-danger
  }

  @else if $t==warning {
    @return $color-warning
  }

  @return $color-primary
}

@function typeDisabledFunction($t) {
  @if $t==success {
    @return $color-success-light2
  }

  @else if $t==primary {
    @return $color-primary-light2
  }

  @else if $t==info {
    @return $color-info-light2
  }

  @else if $t==danger {
    @return $color-danger-light2
  }

  @else if $t==warning {
    @return $color-warning-light2
  }

  @return $color-primary-light2
}

.tb-radio-button {
  display: inline-block;

}

@each $t in $type {
  .radio-button-type_#{$t} {
    display: none;
  }

  .radio-button-type_#{$t}+span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: $default-height;
    line-height: $default-height - 2;
    white-space: nowrap;
    cursor: pointer;
    background: $color-white;
    border: $border-base;
    color: $color-text-default;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: $animation-duration-base;
    user-select: none;
    padding: 0 15px;
    font-size: $base-font-size;
    border-radius: $border-base-radius;
  }

  .radio-button-type_#{$t}+.tb-radio-button--mini {
    height: $mini-height;
    line-height: $mini-height - 2;
    padding: 0 7px;
  }

  .radio-button-type_#{$t}+.tb-radio-button--small {
    height: $small-height;
    line-height: $small-height - 2;
    padding: 0 7px;
  }

  .radio-button-type_#{$t}+.tb-radio-button--large {
    height: $large-height;
    line-height: $large-height - 2;
    padding: 0 14px;
    font-size: $header-font-size;
  }

  .radio-button-type_#{$t}:checked+span {
    border-color: typeFunction($t);
    color: typeFunction($t);
    cursor: pointer;
  }

  .radio-button-type_#{$t}.is-disabled+span {
    color: $color-text-disabled;
    cursor: not-allowed;
  }

  .radio-button-type_#{$t}.is-disabled:checked+span {
    color: typeDisabledFunction($t);
    cursor: not-allowed;
  }


  .radio-button-type_#{$t}:checked+.tb-radio-button--#{$t}_solid {
    background-color: typeFunction($t);
    color: $color-white;
    cursor: pointer;
  }

  .radio-button-type_#{$t}.is-disabled+.tb-radio-button--#{$t}_solid {
    color: $color-text-disabled;
    background-color: $btn-disable-color;
    cursor: not-allowed;
  }

  .radio-button-type_#{$t}.is-disabled:checked+.tb-radio-button--#{$t}_solid {
    color: $color-white;
    background-color: typeDisabledFunction($t);
    border-color: typeDisabledFunction($t);
    cursor: not-allowed;
  }
}
