@import '../../style/variables.scss';

.tb-calendar {
  background-color: $color-white;

  .tb-icon {
    cursor: pointer;
  }

  &-tabbar {
    padding: 43px 100px 30px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    font-size: 36px;
    font-family: Helvetica;
    color: #333333;
    line-height: 48px;
  }

  .title-c {
    display: inline-block;
    width: calc(100% / 7);
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #606060;
    line-height: 40px;
  }

  width: 100%;

  .day-content {
    text-align: center;

    .day-c {
      vertical-align: top;
      margin: 0 4px;
      // box-sizing: border-box;
      display: inline-block;
      width: calc(100% / 7 - 8px);
      height: 100%;
      text-align: center;
      padding-bottom: 30px;
      min-height: 90px;
      cursor: pointer;
      color: #303030;

      .day {
        border-top: 2px solid $border-color-light;
        font-size: 32px;
        font-weight: 500;

        text-align: center;
      }
      .desc{
        overflow: auto;
        height: 80px;
      }
      .day.is-current {
        border-color: $color-primary;
      }

      .is-current .desc {
        height: 28px;
        font-size: 20px;
        font-weight: 400;
        color: #202020;
        text-align: center;
        overflow-x: auto;
      }
    }
  }

  .is-active {
    background-color: $color-primary-light4 !important;
    color: $color-primary !important;
  }
}
