@import '../../style/variables.scss';

.tb-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: $default-height;
  line-height: $default-height - 2;
  white-space: nowrap;
  cursor: pointer;
  background: $color-white;
  border: $border-base;
  color: $color-text-default;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: $animation-duration-base;
  user-select: none;
  padding: 0 15px;
  font-size: $base-font-size;
  border-radius: $border-base-radius;

  .iconfont {
    vertical-align: -1px;

    +span {
      margin-left: 4px;
    }
  }

  &-loading {
    font-size: 14px;
    margin-right: 5px;
  }

  &:hover,
  &:focus {
    color: $color-primary;
    border-color: $color-primary;
  }

  &:active {
    color: $color-primary-active;
    border-color: $color-primary-active;
  }

  &.is-round {
    border-radius: 20px;
  }

  &.is-transparent {
    background: transparent;
    border-color: $color-white;
    color: $color-white;

    &:hover {
      color: $color-primary;
      border-color: $color-primary;
    }

    &:active {
      color: $color-primary-active;
      border-color: $color-primary-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover {
      background: transparent;
      cursor: not-allowed;
      color: $color-white;
    }
  }

  &.is-dashed {
    &:hover {
      color: $color-primary;
      border-color: $color-primary;
    }

    &:active {
      color: $color-primary-active;
      border-color: $color-primary-active;
    }
  }

  &.is-background {
    background-image: -webkit-gradient(linear, left bottom, left top, from($color-select-hover), to($color-white));
    background-image: linear-gradient(0deg, $color-select-hover, $color-white);

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover {
      color: $placeholder-color;
      cursor: not-allowed;
      background-image: none;
      background: $color-select-hover;
      border-color: $border-color-base;
    }
  }

  &.is-loading {
    pointer-events: none;
  }

  &.is-disabled,
  &.is-disabled:focus,
  &.is-disabled:hover {
    color: $placeholder-color;
    cursor: not-allowed;
    background-image: none;
    background-color: $color-white;
    border-color: $color-disabled-border;
  }
}

.tb-button--large {
  height: $large-height;
  line-height: $large-height - 2;
  padding: 0 14px;
  font-size: $header-font-size;

  &.is-round {
    padding: 0 14px;
  }
}

.tb-button--small {
  height: $small-height;
  line-height: $small-height - 2;
  padding: 0 11px;

  &.is-round {
    padding: 0 11px;
  }
}

.tb-button--mini {
  height: $mini-height;
  line-height: $mini-height - 2;
  padding: 0 7px;

  &.is-round {
    padding: 0 10px;
  }
}

.tb-button--primary {
  color: $color-white;
  background-color: $color-primary;
  border-color: $color-primary;
  background-image: none;

  &:hover,
  &:focus {
    background: $color-primary-light1;
    border-color: $color-primary-light1;
    color: $color-white;
  }

  &:active {
    background: $color-primary-active;
    border-color: $color-primary-active;
  }

  &.is-transparent {
    border-color: $color-primary;
    color: $color-primary;
    background-color: transparent;

    &:hover {
      border-color: $color-primary-light1;
      color: $color-primary;
      background-color: $color-button-hover;
    }

    &:active {
      color: $color-primary-active;
      border-color: $color-primary-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover {
      border-color: $color-primary-light2;
      color: $color-primary-light2;
    }
  }

  &.is-plain {
    color: $color-primary;
    background: $color-primary-light5;
    border-color: $color-primary-light3;

    &:hover,
    &:focus {
      border-color: $color-primary-light2;
    }

    &:active {
      color: $color-primary-active;
      border-color: $color-primary-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover {
      cursor: not-allowed;
      color: $color-primary-light2;
      background-color: $color-primary-light5;
      border-color: $color-primary-light3;
    }
  }

  &.is-dashed {
    background: $color-white;
    color: $color-primary;

    &:hover {
      border-color: $color-primary-light1;
      color: $color-primary;
      background-color: $color-button-hover;
    }

    &:active {
      color: $color-primary-active;
      border-color: $color-primary-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover,
    &.is-loading {
      cursor: not-allowed;
      background: $color-white;
      color: $color-primary-light2;
    }
  }

  &.is-disabled,
  &.is-disabled:focus,
  &.is-disabled:hover,
  &.is-loading {
    cursor: not-allowed;
    color: $color-white;
    background-color: $color-primary-light2;
    border-color: $color-primary-light2;
  }
}

.tb-button--success {
  color: $color-white;
  background-color: $color-success;
  border-color: $color-success;
  background-image: none;

  &:hover,
  &:focus {
    background: $color-success-light1;
    border-color: $color-success-light1;
    color: $color-white;
  }

  &:active {
    background: $color-success-active;
    border-color: $color-success-active;
  }

  &.is-transparent {
    border-color: $color-success;
    color: $color-success;
    background-color: transparent;

    &:hover {
      border-color: $color-success-light1;
      color: $color-success;
      background-color: $color-button-hover;
    }

    &:active {
      color: $color-success-active;
      border-color: $color-success-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover {
      border-color: $color-success-light2;
      color: $color-success-light2;
    }
  }

  &.is-plain {
    color: $color-success;
    background: $color-success-light5;
    border-color: $color-success-light3;

    &:hover,
    &:focus {
      border-color: $color-success-light2;
    }

    &:active {
      color: $color-success-active;
      border-color: $color-success-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover {
      cursor: not-allowed;
      color: $color-success-light2;
      background-color: $color-success-light5;
      border-color: $color-success-light3;
    }
  }

  &.is-dashed {
    background: $color-white;
    color: $color-success;

    &:hover {
      border-color: $color-success-light1;
      color: $color-success;
      background-color: $color-button-hover;
    }

    &:active {
      color: $color-success-active;
      border-color: $color-success-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover,
    &.is-loading {
      cursor: not-allowed;
      background: $color-white;
      color: $color-success-light2;
    }
  }

  &.is-disabled,
  &.is-disabled:focus,
  &.is-disabled:hover,
  &.is-loading {
    cursor: not-allowed;
    color: $color-white;
    background-color: $color-success-light2;
    border-color: $color-success-light2;
  }
}

.tb-button--info {
  color: $color-white;
  background-color: $color-info;
  border-color: $color-info;
  background-image: none;

  &:hover,
  &:focus {
    background: $color-info-light1;
    border-color: $color-info-light1;
    color: $color-white;
  }

  &:active {
    background: $color-info-active;
    border-color: $color-info-active;
  }

  &.is-transparent {
    border-color: $color-info;
    color: $color-info;
    background-color: transparent;

    &:hover {
      border-color: $color-info-light1;
      color: $color-info;
      background-color: $color-button-hover;
    }

    &:active {
      color: $color-info-active;
      border-color: $color-info-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover {
      border-color: $color-info-light2;
      color: $color-info-light2;
    }
  }

  &.is-plain {
    color: $color-info;
    background: $color-info-light5;
    border-color: $color-info-light3;

    &:hover,
    &:focus {
      border-color: $color-info-light2;
    }

    &:active {
      color: $color-info-active;
      border-color: $color-info-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover {
      cursor: not-allowed;
      color: $color-info-light2;
      background-color: $color-info-light5;
      border-color: $color-info-light3;
    }
  }

  &.is-dashed {
    background: $color-white;
    color: $color-info;

    &:hover {
      border-color: $color-info-light1;
      color: $color-info;
      background-color: $color-button-hover;
    }

    &:active {
      color: $color-info-active;
      border-color: $color-info-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover,
    &.is-loading {
      cursor: not-allowed;
      background: $color-white;
      color: $color-info-light2;
    }
  }

  &.is-disabled,
  &.is-disabled:focus,
  &.is-disabled:hover,
  &.is-loading {
    cursor: not-allowed;
    color: $color-white;
    background-color: $color-info-light2;
    border-color: $color-info-light2;
  }
}

.tb-button--warning {
  color: $color-white;
  background-color: $color-warning;
  border-color: $color-warning;
  background-image: none;

  &:hover,
  &:focus {
    background: $color-warning-light1;
    border-color: $color-warning-light1;
    color: $color-white;
  }

  &:active {
    background: $color-warning-active;
    border-color: $color-warning-active;
  }

  &.is-transparent {
    border-color: $color-warning;
    color: $color-warning;
    background-color: transparent;

    &:hover {
      border-color: $color-warning-light1;
      color: $color-warning;
      background-color: $color-button-hover;
    }

    &:active {
      color: $color-warning-active;
      border-color: $color-warning-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover {
      border-color: $color-warning-light2;
      color: $color-warning-light2;
    }
  }

  &.is-plain {
    color: $color-warning;
    background: $color-warning-light5;
    border-color: $color-warning-light3;

    &:hover,
    &:focus {
      border-color: $color-warning-light2;
    }

    &:active {
      color: $color-warning-active;
      border-color: $color-warning-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover {
      cursor: not-allowed;
      color: $color-warning-light2;
      background-color: $color-warning-light5;
      border-color: $color-warning-light3;
    }
  }

  &.is-dashed {
    background: $color-white;
    color: $color-warning;

    &:hover {
      border-color: $color-warning-light1;
      color: $color-warning;
      background-color: $color-button-hover;
    }

    &:active {
      color: $color-warning-active;
      border-color: $color-warning-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover,
    &.is-loading {
      cursor: not-allowed;
      background: $color-white;
      color: $color-warning-light2;
    }
  }

  &.is-disabled,
  &.is-disabled:focus,
  &.is-disabled:hover,
  &.is-loading {
    cursor: not-allowed;
    color: $color-white;
    background-color: $color-warning-light2;
    border-color: $color-warning-light2;
  }
}

.tb-button--danger {
  color: $color-white;
  background-color: $color-danger;
  border-color: $color-danger;
  background-image: none;

  &:hover,
  &:focus {
    background: $color-danger-light1;
    border-color: $color-danger-light1;
    color: $color-white;
  }

  &:active {
    background: $color-danger-active;
    border-color: $color-danger-active;
  }

  &.is-transparent {
    border-color: $color-danger;
    color: $color-danger;
    background-color: transparent;

    &:hover {
      border-color: $color-danger-light1;
      color: $color-danger;
      background-color: $color-button-hover;
    }

    &:active {
      color: $color-danger-active;
      border-color: $color-danger-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover {
      border-color: $color-danger-light2;
      color: $color-danger-light2;
    }
  }

  &.is-plain {
    color: $color-danger;
    background: $color-danger-light5;
    border-color: $color-danger-light3;

    &:hover,
    &:focus {
      border-color: $color-danger-light2;
    }

    &:active {
      color: $color-danger-active;
      border-color: $color-danger-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover {
      cursor: not-allowed;
      color: $color-danger-light2;
      background-color: $color-danger-light5;
      border-color: $color-danger-light3;
    }
  }

  &.is-dashed {
    background: $color-white;
    color: $color-danger;

    &:hover {
      border-color: $color-danger-light1;
      color: $color-danger;
      background-color: $color-button-hover;
    }

    &:active {
      color: $color-danger-active;
      border-color: $color-danger-active;
    }

    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover,
    &.is-loading {
      cursor: not-allowed;
      background: $color-white;
      color: $color-danger-light2;
    }
  }

  &.is-disabled,
  &.is-disabled:focus,
  &.is-disabled:hover,
  &.is-loading {
    cursor: not-allowed;
    color: $color-white;
    background-color: $color-danger-light2;
    border-color: $color-danger-light2;
  }
}

.tb-button--text {
  border-color: transparent;
  color: $color-primary;
  background: transparent;
  background-image: none;
  padding: 0;
  height: auto;
  line-height: inherit;

  &:focus,
  &:hover {
    color: $color-primary-light1;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
  }

  &:active {
    color: $color-primary-active;
  }

  &.is-disabled,
  &.is-disabled:focus,
  &.is-disabled:hover {
    cursor: not-allowed;
    background-color: transparent;
    border-color: transparent;
    color: $color-primary-light3;
  }
}

.tb-button--dashed,
.is-dashed {
  border-style: dashed;
}

//  button-group
.tb-button-group {
  display: inline-block;
  vertical-align: middle;

  &>.tb-button {
    float: left;
    position: relative;
  }

  .tb-button {
    z-index: 0;

    &:hover {
      z-index: 1;
    }

    &:active {
      z-index: 1;
      outline: none;
    }
  }

  .tb-button+.tb-button {
    margin-left: -1px;
  }

  &>.tb-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &>.tb-button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &>.tb-button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  .tb-button--primary:first-child,
  .tb-button--info:first-child,
  .tb-button--success:first-child,
  .tb-button--warning:first-child,
  .tb-button--danger:first-child {
    border-right-color: $border-base;
  }

  .tb-button--primary:last-child .tb-button--info:last-child,
  .tb-button--success:last-child,
  .tb-button--warning:last-child,
  .tb-button--danger:last-child {
    border-left-color: $border-base;
  }

  .tb-button--primary:not(:first-child):not(:last-child),
  .tb-button--info:not(:first-child):not(:last-child),
  .tb-button--success:not(:first-child):not(:last-child),
  .tb-button--warning:not(:first-child):not(:last-child),
  .tb-button--danger:not(:first-child):not(:last-child) {
    border-left-color: $border-base;
    border-right-color: $border-base;
  }
}

.tb-button+.tb-button {
  margin-left: 8px;
}



@keyframes rotating {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

.btn-icon-loading {
  display: inline-block;
  animation: rotating 2s linear infinite
}
