@import '../../style/variables.scss';


.tb-input-number {
  display: inline-block;
  width: 180px;
  position: relative;
  line-height: normal
}

.tb-input-number .tb-input {
  display: block
}

.tb-input-number .tb-input__inner {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 82px
}

.tb-input-number.is-without-controls .tb-input__inner {
  padding-right: 10px
}

.tb-input-number.is-disabled .tb-input-number__decrease,
.tb-input-number.is-disabled .tb-input-number__increase {
  border-color: #d1dbe5;
  color: #d1dbe5
}

.tb-input-number.is-disabled .tb-input-number__decrease:hover,
.tb-input-number.is-disabled .tb-input-number__increase:hover {
  color: #d1dbe5;
  cursor: not-allowed
}

.tb-input-number__decrease,
.tb-input-number__increase {
  height: auto;
  border-left: 1px solid #bfcbd9;
  width: 36px;
  line-height: 30px;
  top: 1px;
  text-align: center;
  color: #97a8be;
  cursor: pointer;
  position: absolute;
  z-index: 1
}

.tb-input-number__decrease:hover,
.tb-input-number__increase:hover {
  color: $color-primary
}

.tb-input-number__decrease:hover:not(.is-disabled)~.tb-input .tb-input__inner:not(.is-disabled),
.tb-input-number__increase:hover:not(.is-disabled)~.tb-input .tb-input__inner:not(.is-disabled) {
  border-color: $color-primary
}

.tb-input-number__decrease.is-disabled,
.tb-input-number__increase.is-disabled {
  color: #d1dbe5;
  cursor: not-allowed
}

.tb-input-number__increase {
  right: 0
}

.tb-input-number__decrease {
  right: 37px
}

.tb-input-number--large {
  width: 200px
}

.tb-input-number--large .tb-input-number__decrease,
.tb-input-number--large .tb-input-number__increase {
  line-height:  $large-height - 2px;
  width: 42px;
  font-size: 16px
}

.tb-input-number--large .tb-input-number__decrease {
  right: 43px
}

.tb-input-number--large .tb-input__inner {
  padding-right: 94px
}

.tb-input-number--small {
  width: 130px
}

.tb-input-number--small .tb-input-number__decrease,
.tb-input-number--small .tb-input-number__increase {
  line-height: $small-height - 2px;
  width: 30px;
  font-size: 13px
}

.tb-input-number--small .tb-input-number__decrease {
  right: 31px
}

.tb-input-number--small .tb-input__inner {
  padding-right: 70px
}


.tb-input-number--mini {
    width: 130px
  }
  
  .tb-input-number--mini .tb-input-number__decrease,
  .tb-input-number--mini .tb-input-number__increase {
    line-height: $mini-height - 2px;
    width: 24px;
    font-size: 13px
  }
  
  .tb-input-number--mini .tb-input-number__decrease {
    right: 28px
  }
  
  .tb-input-number--mini .tb-input__inner {
    padding-right: 10px
  }
  