@import '../../style/var.css';
@import '../../style/variables.scss';

.tb {
  &-steps {
    font-size: 0;

    > :last-child .tb-step__line {
      display: none;
    }
    .is-horizontal {
      white-space: nowrap;

      .is-center {
        text-align: center;
      }
    }
  }
}
