@import '../../style/variables.scss';

.tb-form--inline .tb-form-item,
.tb-form--inline .tb-form-item__content {
  display: inline-block;
  vertical-align: top
}

.tb-form-item:after,
.tb-form-item__content:after {
  clear: both
}

.tb-form--labtb-left .tb-form-item__label {
  text-align: left
}

.tb-form--labtb-top .tb-form-item__label {
  float: none;
  display: inline-block;
  text-align: left;
  padding: 0 0 10px
}

.tb-form--inline .tb-form-item {
  margin-right: 10px
}

.tb-form--inline .tb-form-item__label {
  float: none;
  display: inline-block
}

.tb-form--inline.tb-form--labtb-top .tb-form-item__content {
  display: block
}

.tb-form-item {
  margin-bottom: 22px
}

.tb-form-item:after,
.tb-form-item:before {
  display: table;
  content: ""
}

.tb-form-item .tb-form-item {
  margin-bottom: 0
}

.tb-form-item.is-error .tb-input-group__append .tb-input__inner,
.tb-form-item.is-error .tb-input-group__prepend .tb-input__inner,
.tb-form-item.is-error .tb-input__inner {
  border-color: transparent
}

.tb-form-item.is-error .tb-input__inner,
.tb-form-item.is-error .tb-textarea__inner {
  border-color: $color-danger
}

.tb-form-item.is-required .tb-form-item__label:before {
  content: '*';
  color: $color-danger;
  margin-right: 4px
}

.tb-form-item__label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: $color-text-primary;
  line-height: 1;
  padding: 11px 0 11px 0;
  box-sizing: border-box
}

.tb-form-item__content {
  line-height: 36px;
  position: relative;
  font-size: 14px
}

.tb-form-item__content:after,
.tb-form-item__content:before {
  display: table;
  content: ""
}

.tb-form-item__error {
  color: $color-danger;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  left: 0
}

.tb-form-error-fade-leave,
.tb-form-error-fade-leave-active {
  animation: tb-form-error-fade .3s
}

.tb-form-error-fade-enter,
.tb-form-error-fade-enter-active {
  animation: tb-form-error-in .3s
}

@keyframes tb-form-error-in {
  0% {
    transform: translate3d(0, -10px, 0);
    opacity: 0
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes tb-form-error-fade {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }

  100% {
    transform: translate3d(0, -10px, 0);
    opacity: 0
  }
}
