@charset "UTF-8";
@import '../../style/variables.scss';

.tb-menu,
.tb-menu li {
  list-style: none
}

.tb-menu:after,
.tb-menu:before {
  display: table;
  content: ""
}

.tb-menu:after {
  clear: both
}

.tb-menu-item,
.tb-submenu__title {
  height: 56px;
  line-height: 56px;
  font-size: 14px;
  color: #48576a;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
  transition: border-color .3s, background-color .3s, color .3s;
  box-sizing: border-box;
  white-space: nowrap
}

.tb-menu {
  border-radius: 2px;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: #eef1f6
}

.tb-menu--dark {
  background-color: #324157
}

.tb-menu--dark .tb-menu-item,
.tb-menu--dark .tb-submenu__title {
  color: #bfcbd9
}

.tb-menu--dark .tb-menu-item:hover,
.tb-menu--dark .tb-submenu__title:hover {
  background-color: #48576a
}

.tb-menu--dark .tb-submenu .tb-menu {
  background-color: #1f2d3d
}

.tb-menu--dark .tb-submenu .tb-menu .tb-menu-item:hover {
  background-color: #48576a
}

.tb-menu--horizontal .tb-menu-item {
  float: left;
  height: 60px;
  line-height: 60px;
  margin: 0;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border-bottom: 5px solid transparent
}

.tb-menu--horizontal .tb-menu-item a,
.tb-menu--horizontal .tb-menu-item a:hover {
  color: inherit
}

.tb-menu--horizontal .tb-submenu {
  float: left;
  position: relative
}

.tb-menu--horizontal .tb-submenu>.tb-menu {
  position: absolute;
  top: 65px;
  left: 0;
  border: 1px solid #d1dbe5;
  padding: 5px 0;
  background-color: #fff;
  z-index: 100;
  min-width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04)
}

.tb-menu--horizontal .tb-submenu .tb-submenu__title {
  height: 60px;
  line-height: 60px;
  border-bottom: 5px solid transparent
}

.tb-menu--horizontal .tb-submenu .tb-menu-item {
  background-color: #fff;
  float: none;
  height: 36px;
  line-height: 36px;
  padding: 0 10px
}

.tb-menu--horizontal .tb-submenu .tb-submenu__icon-arrow {
  position: static;
  vertical-align: middle;
  margin-left: 5px;
  color: #97a8be;
  margin-top: -3px
}

.tb-menu--horizontal .tb-menu-item:hover,
.tb-menu--horizontal .tb-submenu__title:hover {
  background-color: #eef1f6
}

.tb-menu--horizontal>.tb-menu-item:hover,
.tb-menu--horizontal>.tb-submenu.is-active .tb-submenu__title,
.tb-menu--horizontal>.tb-submenu:hover .tb-submenu__title {
  border-bottom: 5px solid $color-primary
}

.tb-menu--horizontal.tb-menu--dark .tb-menu-item:hover,
.tb-menu--horizontal.tb-menu--dark .tb-submenu__title:hover {
  background-color: #324157
}

.tb-menu--horizontal.tb-menu--dark .tb-submenu .tb-menu-item:hover,
.tb-menu--horizontal.tb-menu--dark .tb-submenu .tb-submenu-title:hover,
.tb-menu-item:hover {
  background-color: #d1dbe5
}

.tb-menu--horizontal.tb-menu--dark .tb-submenu .tb-menu-item,
.tb-menu--horizontal.tb-menu--dark .tb-submenu .tb-submenu-title {
  color: #48576a
}

.tb-menu--horizontal.tb-menu--dark .tb-submenu .tb-menu-item.is-active,
.tb-menu-item.is-active {
  color: $color-primary
}

.tb-menu--collapse {
  width: 64px
}

.tb-menu--collapse>.tb-menu-item [class^=tb-icon-],
.tb-menu--collapse>.tb-submenu>.tb-submenu__title [class^=tb-icon-] {
  margin: 0;
  vertical-align: middle;
  width: 24px;
  text-align: center
}

.tb-menu--collapse>.tb-menu-item .tb-submenu__icon-arrow,
.tb-menu--collapse>.tb-submenu>.tb-submenu__title .tb-submenu__icon-arrow {
  display: none
}

.tb-menu--collapse>.tb-menu-item span,
.tb-menu--collapse>.tb-submenu>.tb-submenu__title span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block
}

.tb-menu--collapse .tb-menu .tb-submenu {
  min-width: 200px
}

.tb-menu--collapse .tb-submenu {
  position: relative
}

.tb-menu--collapse .tb-submenu .tb-menu {
  position: absolute;
  margin-left: 5px;
  top: 0;
  left: 100%;
  z-index: 10
}

.tb-menu--collapse .tb-submenu.is-opened>.tb-submenu__title .tb-submenu__icon-arrow {
  -ms-transform: none;
  transform: none
}

.tb-menu-item [class^=tb-icon-] {
  margin-right: 5px;
  width: 24px;
  text-align: center
}

.tb-menu-item * {
  vertical-align: middle
}

.tb-menu-item:first-child {
  margin-left: 0
}

.tb-menu-item:last-child {
  margin-right: 0
}

.tb-submenu [class^=tb-icon-] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center
}

.tb-submenu .tb-menu {
  background-color: #e4e8f1
}

.tb-submenu .tb-menu-item:hover,
.tb-submenu__title:hover {
  background-color: #d1dbe5
}

.tb-submenu .tb-menu-item {
  height: 50px;
  line-height: 50px;
  padding: 0 45px;
  min-width: 200px
}

.tb-submenu.is-opened>.tb-submenu__title .tb-submenu__icon-arrow {
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg)
}

.tb-submenu.is-active .tb-submenu__title {
  border-bottom-color: $color-primary
}

.tb-submenu__title {
  position: relative
}

.tb-submenu__title * {
  vertical-align: middle
}

.tb-submenu__icon-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -7px;
  transition: transform .3s;
  font-size: 12px
}

.tb-menu-item-group>ul {
  padding: 0
}

.tb-menu-item-group__title {
  padding: 15px 0;
  line-height: normal;
  font-size: 14px;
  padding-left: 20px;
  color: #97a8be
}

.horizontal-collapse-transition .tb-submenu__title .tb-submenu__icon-arrow {
  transition: .2s;
  opacity: 0
}

.collapse-transition {
  transition: .3s height ease-in-out, .3s padding-top ease-in-out, .3s padding-bottom ease-in-out;
}
