@import '../../style/var.scss';
@import '../../style/variables.scss';

.tb {

  &-notification {
    width: var(--notification-width);
    padding: var(--notification-padding);
    box-sizing: border-box;
    border-radius: var(--border-radius-small);
    position: relative;
    right: 16px;
    background-color: var(--color-white);
    box-shadow: var(--notification-shadow);
    transition: opacity 0.3s, transform .3s, right .3s, top 0.4s;
    overflow: hidden;

    &__group {
      margin-left: 0;

    }

    .is-with-icon {
      margin-left: 55px;
    }

    &__title {
      font-weight: normal;
      font-size: var(--notification-title-font-size);
      color: var(--notification-title-color);
      margin: 0;
    }

    &__content {
      font-size: var(--notification-font-size);
      line-height: 21px;
      margin: 10px 0 0 0;
      color: var(--notification-color);
      text-align: justify;
    }

    &__icon {
      size: var(--notification-icon-size);
      font-size: var(--notification-icon-size);
      float: left;
      position: relative;
      top: 3px;
    }

    &__closeBtn {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      color: var(--notification-close-color);
      font-size: var(--notification-font-size);

      &:hover {
        color: var(--notification-close-hover-color);
      }
    }

    .is-success {
      color: $color-success;
    }

    .is-info {
      color: $color-info;
    }

    .is-warning {
      color: $color-warning;
    }

    .is-primary {
      color: $color-primary;
    }

    .is-error {
      color: $color-danger;
    }
  }
}

.tb-notification-fade-enter {
  transform: translateX(100%);
  right: 0;
}

.tb-notification-fade-leave {
  opacity: 0;
}

.tb-notification-content {
  position: fixed;
  top: 16px;
  right: 0;
  z-index: 1000;

  >div {
    position: relative;
    display: flex;
    justify-content: flex-end;

    .tb-notification {
      margin-bottom: 10px;
    }
  }
}
