@import '../../style/variables.scss';

.tb__show-more {
    font-size: 14px;
    color: #000;
  }
  .tb__show {
    color: $color-primary;
    cursor: pointer;
  }
  .tb__hidden {
    color: $color-primary;
    cursor: pointer;
  }